.children {
    margin-top: 100px;
}

h2 {
    margin-left: 11px;
}

p {
    margin-left: 11px;
    font-size: 20px;
}

.pic {
    height: 175px;
    width: 170px;
    margin-left: 10px;
    border-radius: 20px;
}

.portfolioContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolioPic {
    height: 400px;
    width: 600px;
    margin-left: 10px;
    border-radius: 40px;
    padding: 10px;
}

.parentDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.parentForm {
    border: 3px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
}

.input1 {
    width: 400px;
    padding: 5px;
    margin: 10px;
}
.input2 {
    width: 400px;
    height: 300px;
    padding: 5px;
    margin: 10px;
}

button {
    width: 420px;
    margin-left: 8px;
    background-color: rgb(143, 239, 143);
}

.resumeDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.resumeUl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: underline;
}

.resumeLi {
    margin-left: 40px;
    font-size: 18px;
    font-style: italic;
}

